body{
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffe3c7;
}

main{
    height: 600px;

    background-image: url('img/background_main.png');
    background-size: cover;
}

footer{
    margin-top: auto;
}

.container{
    display: flex;
    flex-direction: column;
    min-height: 80px;
    background-color: rgb(255, 227, 199);
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
    list-style: none;
}

.background_main{
    width: 100%;
}

.main_img{
    padding: 60px 30px;
    height: 450px;
}

.description{
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 227, 199, 0.8);
    
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}