body{
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffe3c7;
}

main{
    background-image: url('img/background_main.png');
    background-size: cover;
}

p{
    font-size: 24px;
}

h2{
    font-size: 32px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4em;
    list-style: none;
}



.menu_button{
    height: 40px;
    width: 150px;
    background-color: lightcoral;
}

.background_main{
    width: 100%;
}

.main_img{
    padding: 60px 30px;
    height: 450px;
}

.description{
    margin: 20px;
    padding: 10px;
    background-color: rgba(255, 227, 199, 0.8);
    
}

.cover{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 640px;
}

.best_orders{
    padding: 20px;
    height: fit-content;
    background-color: aliceblue;
}

.top_orders{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_img{
    height: 400px;
    margin-right: 20px;
}